
@{
    ViewData["Title"] = "Play";
}
@section head{ 
    <link href="~/css/MasterPlayView.css" rel="stylesheet" />
}
<div class="col-lg-5 card">
    <div class="group">
        <div class="box box-turn-display">
            <label>1턴째</label>
        </div>
        <div>
            <div class="btn btn-next-turn">다음 턴</div>
            <div class="btn btn-next-turn">이전 턴</div>
        </div>
    </div>
</div>

<div class="col-lg-7">
    <table>
        <thead>

        </thead>
        <tr></tr>
        <tr>
            <td>aa</td>
            <td>bb</td>
        </tr>
    </table>
</div>